@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: hero-academia-title;
    src: url(../fonts/KOMIKAH_.ttf);
}
@font-face {
    font-family: hero-academia-title-bold;
    src: url(../fonts/KOMIKAHB.ttf);
}
@font-face {
    font-family: hero-academia-subtitle;
    src: url(../fonts/chinrg__.ttf);
}
@font-face {
    font-family: hero-academia-inner;
    src: url(../fonts/ComicRelief.ttf);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: ;
    --main-color: ;
    --text-color: #eedc30;
    --second-text-color:rgba(255, 255, 255, 0.53);
}


body {
    background-color: white;
    color: white;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

.wallpaper  {
    position: relative;
    .background-img {
        position:absolute;
        z-index: -1;
        object-fit:cover;
        width: 100dvw;
        height: 100dvh;
        opacity: 100%;
    }
    .top-layer {
        position:absolute;
        z-index: 1;
        object-fit:cover;
        width: 100dvw;
        height: 100dvh;
        opacity: 100%;
        filter: drop-shadow(0 0 10px red);
    }
}

.contents {
    position: relative;
    width: 100%;
    height: 100%;
    & .title {
        position: absolute;
        font-size: 15rem;
        letter-spacing: .3rem;
        font-family: hero-academia-title-bold;
        background: linear-gradient(rgba(212,5,9,1) 0%, rgba(212,5,9,1) 20%, rgba(205,169,181,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 12px;
        -webkit-text-stroke-color: black;
        padding-bottom: 1rem;
        left: 15rem;
        line-height: 1;
        bottom: 4rem;
        text-align: center;
        z-index: 1;
    }
}

.card {
    display: flex;
    position: absolute;
    right: 20rem;
    top: 8rem;
    padding: 1.5rem 3rem;
    background: rgba(118, 118, 118, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: fit-content;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;


    & .contents-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;

        & .contents, span {
            font-family: hero-academia-subtitle;
            font-size: 1.3rem;
            letter-spacing: .3rem;
        }
        & span {
            font-weight: 900;
            color: #eedc30;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        & .contents {
            color: #ffffff;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    }
}
.card:hover {
    filter: drop-shadow(0 0 5px red);
    transform: scale(1.1);
}