@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: ;
    --main-color: ;
    --text-color: white;
    --second-text-color:rgba(255, 255, 255, 0.53) ;
}

video {
    position:absolute;
    z-index: -1;
    object-fit:cover;
    width: 100dvw;
    height: 100dvh;
    opacity: 85%;
  }

body {
    display: flex;
    background-color: white;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    color: var(--text-color);
    text-align: center;
    height: 100vh;
    width: 100%;
    align-items: center;

    & h1 {
        font-size: 7rem;
        letter-spacing: 1rem;
        -webkit-text-stroke: 1px black;
    }

    & h2 {
        font-size: 4.5rem;
        letter-spacing: 1rem;
        -webkit-text-stroke: .6px black;
    }
    & .description {
        font-size: 2rem;
        letter-spacing: .5rem;
        width: 40%;
        -webkit-text-stroke: .5px black;
    }
    & .line{
        background-color: rgba(255, 255, 255, 0.405);
        width: 40vw;
        height: .3vh;
        margin: 1rem;
        border-radius: 30px;

    }
    & .to-navigate {
        font-size: 1.3rem;
        width: 40%;
        color: rgba(0, 0, 0, 0.455);
    }
}


